@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: var(--textPrimary);
  background-color: var(--fillBgSecondary);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-inter), -apple-system, "Helvetica Neue", Helvetica,
    Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.header {
  border-bottom: none !important;
}

#nprogress .bar {
  background: #04d2c5 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #04d2c5, 0 0 5px #04d2c5 !important;
}
